/* styles.css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  overflow-y: hidden;
}

#sail_logo {
  width: 40px;
  position: absolute;
  top: 18px;
  left: 16px;
}

nav .buttons {
  position: absolute;
  top: 4px;
  right: 8px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 60vh;
  margin-top: 80px;
 max-width: fit-content;
}

.container .content {
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding: 0 20px;
  flex: 1;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.container h1 span {
  color: #667EEA;
}

.container p {
  color: #666;
  line-height: 1.6;
  overflow-y: hidden;
}

.container .buttons {
  margin-top: 20px;
}

.container .buttons .a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #667EEA;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.container .buttons .a:hover {
  background-color: #4458a7;
}

.container .image {
  margin-top: 50px;
  text-align: center;
}

.container .image img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    height: 75vh;
  }

  .container .content {
    width: 100%;
    text-align: left;
    max-width: 100%;
  }

  .container .image {
    width: 100%;
    margin-top: 30px;
  }
  .container h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  /* .container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 1rem;
  } */
}
