#message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  height: 50vh;
  padding: 0 10rem;
  margin-bottom: 10rem;
}

#message-img {
  width: 20rem;
  border-radius: 8px;
}

.message-link {
  background-color: #5d32c8;
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 30%;
  text-align: center;
}

#message-link:hover {
  background-color: #140a2e;
}

.message-content {
  text-align: left;
}
.message-content h3 {
  font-size: 28px;
  padding-bottom: 14px;
}

.message-content p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  #message-container {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }

  #message-img {
    width: 70%;
    margin-bottom: 1.5rem; 
  }

  #message-right {
    width: 100%;
    align-items: center;
  }

  #message-link {
    width: 60%;
  }
}
